{% extends 'base.html' %}
{% load static %} 


  {% block menus %}
  {% with urlname1="archive_dossiers" urlname2="archive_dossiers" %}
  {% include '_nav.html' with title1="Archive des dossiers " title2="" %}
  {% endwith %}
  {% include '_sidebar.html' with role=request.session.user_service %}
  {% endblock %}


{% block content %}
<!-- Main content -->

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Les dossiers des patients hospitalisés</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>cin assuré</th>
          <th>IPP</th>
          <th>Date d'entrée</th>
          <th>Date sortie</th>
          <th>Service</th>
          <th>Afficher plus</th>
        </tr>
      </thead>
      <tbody>
        {% csrf_token %}
        {% for user in data %}
        <tr>
          <td class="">{{user.cin_assurant}}</td>
          <td class="">{{user.ipp}}</td>
          <td class="">{{user.date}}</td>
          <td class="">{{user.dateSortie}}</td>
          <td class="">{{user.dpc}}</td>
          <td>
            <a href="#" >Voir plus</a>
          </td>
          
          
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>cin assuré</th>
          <th>IPP</th>
          <th>Date d'entrée</th>
          <th>Date sortie</th>
          <th>Service</th>
          <th>Afficher plus</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.content -->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Contenu supplémentaire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Lecteurs de fichiers DPC, billetHospitalisation, pli_confidentiel et facture -->
        <!-- Ajoutez les éléments nécessaires pour afficher les fichiers ici -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });

  $('#myModal').on('show.bs.modal', function (event) {
  // var button = $(event.relatedTarget); // Bouton qui a déclenché l'ouverture de la fenêtre modale
  // var dpcUrl = button.data('dpc'); // Récupérer l'URL du fichier DPC
  // var billetUrl = button.data('billet'); // Récupérer l'URL du fichier billetHospitalisation
  // var pliUrl = button.data('pli'); // Récupérer l'URL du fichier pli_confidentiel
  // var factureUrl = button.data('facture'); // Récupérer l'URL du fichier facture

  // var modal = $(this);

  // // Effectuer une requête AJAX pour récupérer les données des fichiers
  // $.ajax({
  //   url: dpcUrl, // URL du fichier DPC
  //   method: 'GET',
  //   dataType: 'text',
  //   success: function (dpcData) {
  //     // Mettre à jour le contenu de la fenêtre modale avec les données du fichier DPC
  //     modal.find('.modal-body').append('<p>DPC:</p><pre>' + dpcData + '</pre>');
  //   }
  // });

  // Répéter les étapes ci-dessus pour les autres fichiers (billetHospitalisation, pli_confidentiel, facture)

});

</script>
{% endblock %}