{% extends 'base.html' %}
{% load static %}


  {% block menus %}
  {% with urlname1="comptes_actives" urlname2="comptes_actives2" %}
  {% include '_nav.html' with title2="Techniciens" title1="Médecins" %}
 {% endwith %}

  {% include '_sidebar.html' with role=request.session.user_service %}
  {% endblock %}

{% block content %}
<!-- Main content -->

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Les comptes activés du techniciens</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Téléphone(s)</th>
          <th>Adresse</th>
          <th>Service</th>
          <th>Poste</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in data %}
        <tr>
          <td class="">{{user.nom_complet}}</td>
          <td class="">{{user.email}}</td>
          <td class="">{{user.tele}}</td>
          <td class="">{{user.adresse}}</td>
          <td class="">
            {% if user.service_medecin %} 
            {{user.service_medecin}}
            <td class="">Medecin</td>
            {% else %} 
            {{user.service_role}}
            <td class="">Technicien</td>
            {% endif %}
          </td>

          <td>
            <button class="btn-desactiver btn btn-info" data-user-id="{{ user.id }}">desactiver</button>
            <a href="#" class="btn btn-danger btn-delete" data-user-id="{{ user.id }}">delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Téléphone(s)</th>
          <th>Adresse</th>
          <th>Service</th>
          <th>Poste</th>
          <th>Action</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.content -->
{% endblock %}
{%block scripts%}
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });

  
  $(document).ready(function() {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $('.btn-desactiver').click(function() {
        var userId = $(this).data('user-id');
        var btn = $(this); // Référence au bouton actuel pour accès ultérieur

        $.ajax({
            url: '/desactiver-technicien/',
            type: 'POST',
            data: {
                'user_id': userId,
                'csrfmiddlewaretoken': getCookie('csrftoken')
            },
            success: function(response) {
                if (response.success) {
                    // Mettre à jour l'interface utilisateur ou effectuer d'autres actions nécessaires
                    btn.closest('tr').remove();  // Supprimer la ligne du tableau
                    Swal.fire({
                    icon: 'success',
                    title: 'Succès !',
                    text: 'Technicien désactivé avec succès.'
                });
                }
            },
            error: function(xhr, status, error) {
                // Gérer les erreurs de requête AJAX
            }
        });
    });



    $('.btn-delete').click(function() {
    var userId = $(this).data('user-id');
    var btn = $(this); // Référence au bouton actuel pour accès ultérieur

    // Utiliser SweetAlert2 pour afficher la boîte de dialogue de confirmation
    Swal.fire({
        title: 'Êtes-vous sûr(e) ?',
        text: "La suppression sera irréversible !",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Oui, supprimer',
        cancelButtonText: 'Annuler',
        reverseButtons: true
    }).then((result) => {
        if (result.isConfirmed) {
            // Effectuer la suppression si l'utilisateur a confirmé
            $.ajax({
                url: '/delete-technicien/',
                type: 'POST',
                data: {
                    'user_id': userId,
                    'csrfmiddlewaretoken': getCookie('csrftoken')
                },
                success: function(response) {
                    if (response.success) {
                        // Mettre à jour l'interface utilisateur
                        btn.closest('tr').remove();  // Supprimer la ligne du tableau
                    }
                },
                error: function(xhr, status, error) {
                    // Gérer les erreurs de requête AJAX
                    console.error(error);
                }
            });
        }
    });
});


});

</script>
{% endblock %}