{% extends 's_base.html' %}
{% load static %}

{% block menus %}
{% with urlname1="saa" urlname2="saa2" %}
{% include '_nav.html' with title1="Ajouter une action" title2="Ajouter nouveau dossier" %}
{% endwith %}
{% include 'saa_sidebar.html' with role=request.session.user_service %}
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Liste des biologies pas encore imprimés</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success text-center">
          {{ message }}
        </div>
      {% else %}
        <div class="alert alert-danger text-center">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
    {% if error_message %}
    <div class="error_message" style="background-color: rgb(243, 242, 225); height: 28px;">
      <h3 class="card-title" style="margin-top: 3px; margin-left: 8px; font-weight: bold; color:rgb(250, 3, 3);">{{ error_message }}</h3>
    </div>
    {% endif %}
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>cin assuré</th>
          <th>IPP</th>
          <th>date </th>
          <th>ordonnance</th>
          <th>service</th>
          <th>Type d'action</th>
          <th>Opération</th>
        </tr>
      </thead>
      <tbody>
        {% csrf_token %}
        {% for row in data %}
        <tr>
          <td class="cinAssure">{{ row.cin_assurant }}</td>
          <td class="ipp">{{ row.ipp }}</td>
          <td class="date">{{ row.date }}</td>
          <td>
            <a href="{{ row.ordonnance.url }}" target="_blank" class="ordonnance">{{ row.ipp }}</a>
          </td>
          <td class="service">{{ row.service }}</td>
          <td class="action">{{ row.action }}</td>
          <td>
            <a href="#" class="btn btn-info btn-modifier" data-facturebio="{{row.facture.url}}" data-bonbion="{{row.bonBio.url}}" data-toggle="modal" data-target="#modifierModal">Modifier</a>
            <a href="#" class="btn btn-danger btn-delete">Supprimer</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>cin assuré</th>
          <th>IPP</th>
          <th>date</th>
          <th>ordonnance</th>
          <th>service</th>
          <th>Type d'action</th>
          <th>Opération</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>

<!-- Fenêtre modale de consultation -->
<div class="modal fade" id="modifierModal" tabindex="-1" role="dialog" aria-labelledby="modifierModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content hospClass">
      <div class="modal-header">
        <h5 class="modal-title" id="modifierModalLabel">Modifier le dossier de Biologie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="modifierForm" enctype="multipart/form-data"  method="POST" action="/modifier_biologie/">
          {% csrf_token %}
          <div class="form-group">
            <label for="inputCinAssure">CIN Assuré</label>
            <input type="text" class="form-control" id="inputCinAssure" name="inputCinAssure" readonly>
          </div>
          <div class="form-group">
            <label for="inputIPP">IPP</label>
            <input type="text" class="form-control" id="inputIPP" name="inputIPP" readonly>
          </div>
          <div class="form-group">
            <label for="inputDate">Date</label>
            <input type="date" class="form-control" id="inputDate" name="inputDate" readonly>
          </div>
          <div class="form-group">
            <label for="inputOrdonnance">Ordonnance</label>
            <a href="#" id="outputOrdonnance" target="_blank"></a><br>
            <p>Ajouter Nouveau</p>
            <input type="file" class="form-control" id="inputOrdonnance" name="inputOrdonnance">
          </div>
          <div class="form-group">
            <label for="inputBon">bon biologie</label>
            <a href="#" id="outputBon" target="_blank"></a><br>
            <p>Ajouter Nouveau</p>
            <input type="file" class="form-control" id="inputBon" name="inputBon">
          </div>
          <div class="form-group">
            <label for="inputFacture">Facture</label>
            <a href="#" id="outputFacture" target="_blank"></a><br>
            <p>Ajouter Nouveau</p>
            <input type="file" class="form-control" id="inputFacture" name="inputFacture">
          </div>
          <div class="form-group">
            <label for="inputService">Service</label>
            <select class="form-control" id="inputService" name="inputService">
              <option value="Medecine">Medecine</option>
              <option value="chirurgie">chirurgie</option>
              <option value="pediaterie">pediaterie</option>
              <option value="maternite">maternite</option>
              <option value="centreDC">centreDC</option>
              <option value="Biologie">biologie</option>
              <option value="Radiologie">radiologie</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputTypeAction">Type d'action</label>
            <select class="form-control" id="inputTypeAction" name="inputTypeAction">
              <option value="Consultation">Consultation</option>
              <option value="Hospitalisation">Hospitalisation</option>
              <option value="Biologie">Biologie</option>
              <option value="Radiologie">Radiologie</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(function () {
    bsCustomFileInput.init();
  });

  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "lengthChange": false,
      "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });

  $(document).ready(function () {
    $('.btn-modifier').click(function () {
      var row = $(this).closest('tr');
      var action = row.find('.action').text();
      var cinAssure = row.find('.cinAssure').text();
      var ipp = row.find('.ipp').text();
      var date = row.find('.date').text();
      var service = row.find('.service').text();
      var ordonnanceUrl = row.find('.ordonnance').attr('href');      
      var bonBioURL = $(this).data('bonbio');
      var factureUrl = $(this).data('facturebio');

      $('#inputCinAssure').val(cinAssure);
      $('#inputIPP').val(ipp);
      $('#inputDate').val(date);
      $('#inputService').val(service);
      $('#inputTypeAction').val(action);
      $('#outputOrdonnance').attr('href', ordonnanceUrl).text('Ordonnance');
      $('#outputFacture').attr('href', factureUrl).text('Facture');
      $('#outputBon').attr('href', bonBioURL).text('bon biologie');

      $('.hospClass').show();
      $('#modifierModal').modal('show');
    });
  
    $('#modifierBtn').click(function() {
      $('#modifierForm').submit();
    });


    $('.btn-delete').click(function () {
  var row = $(this).closest('tr');

  var cinAssure = row.find('.cinAssure').text();
  var ipp = row.find('.ipp').text();
  var service = row.find('.service').text();
  var date = row.find('.date').text();

  // Use SweetAlert2 to display the confirmation dialog
  Swal.fire({
    title: 'Êtes-vous sûr(e) ?',
    text: 'La suppression sera irréversible !',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Oui, supprimer',
    cancelButtonText: 'Annuler',
    reverseButtons: true
  }).then((result) => {
    if (result.isConfirmed) {
      var form = $('<form>', {
        'method': 'POST',
        'action': '/supprimer-biologie/'
      }).append($('<input>', {
        'type': 'hidden',
        'name': 'cinAssure',
        'value': cinAssure
      })).append($('<input>', {
        'type': 'hidden',
        'name': 'ipp',
        'value': ipp
      })).append($('<input>', {
        'type': 'hidden',
        'name': 'service',
        'value': service
      })).append($('<input>', {
        'type': 'hidden',
        'name': 'date',
        'value': date
      })).append('{% csrf_token %}');
      
      form.appendTo('body').submit();
    }
  });
});

  });
</script>
{% endblock %}