{% extends 'base.html' %}
{% load static %}

{% block navside %}
{% endblock %}
{% block content %}
<div class="container" style="margin-bottom: 300px; margin-left: 370px;">
    <div class="login-container mt-4 mb-8" style="width: 600px;">
        <!-- Horizontal Form -->
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title"><i class="bi bi-door-open"></i>Connexion</h3>
            </div>
            {% if messages %}
            <div class="alert alert-danger text-center">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            <!-- /.card-header -->
            {% if error_message %}
            <div class="alert alert-danger text-center">
                {{error_message}}
            </div>
            {% endif %}
            <!-- form start -->
            <form class="form-horizontal" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                <label class="form-check-label" for="exampleCheck2">Remember me</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a href="#" data-toggle="modal" data-target="#forgotPasswordModal">Mot de passe oublié ?</a>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <a href="{% url 'signup' %}" class="btn btn-default">S'inscrire</a>
                    <button type="submit" class="btn btn-info float-right">Se connecter</button>
                </div>
                <!-- /.card-footer -->
            </form>

        </div>
        <!-- /.card -->
    </div>
</div>

<!-- Fenêtre modale -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotPasswordModalLabel">Mot de passe oublié</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Entrez votre adresse e-mail pour réinitialiser votre mot de passe :</p>
                <form action="{% url 'reset_password' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Adresse e-mail" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block scripts %}
<script>
    document.getElementById('forgotPasswordLink').addEventListener('click', function(event) {
      event.preventDefault(); // Empêche le comportement par défaut du lien
  
      // Afficher la fenêtre modale
      $('#forgotPasswordModal').modal('show');
    });
  </script>
{% endblock %}