{% extends 's_base.html' %}
{% load static %}

{% block menus %}
  {% with urlname1="saa" urlname2="saa2" %}
    {% include '_nav.html' with title1="Ajouter une action" title2="Ajouter nouveau dossier" %}
  {% endwith %}

  {% with urlhome="saa" url2="saa2" %}
    {% include 'saa_sidebar.html' with tit1="Ajouter une action" tit2="Ajouter nouveau dossier" role=request.session.user_service %}
  {% endwith %}
{% endblock %}

{% block content %}
<!-- Main content -->
<div class="container">
  <div class="card" style="width: 1000px; margin-left: 60px;">
    <div class="card-header">
      <h3 class="card-title">Ajouter une nouvelle action</h3>
    </div>
    <div class="card-body">
      {% if error_message %}
      <div class="error_message" style="background-color: rgb(243, 242, 225); height: 28px;">
          <h3 class="card-title" style="margin-top: 3px; margin-left: 8px; font-weight: bold; color:rgb(250, 3, 3);">{{ error_message }}</h3>
      </div>
      {% endif %}
      <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'enregistrer_action' %}" method="post" >
        {% csrf_token %}
        <div class="card-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">IPP</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="ipp" name="ipp" placeholder="Identifiant du patient">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">CIN d'assurant :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="cin_assurant" name="cin_assurant" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputDate" class="col-sm-2 col-form-label">Date :</label>
              <div class="col-sm-10">
                <div class="input-group date" id="datepicker" data-target-input="nearest">
                  <input type="date" class="form-control" id="date" name="date" required/>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputFile" style="margin-right: 62px;">Ordonnance :</label>
              <div class="input-group" style="width: 700px;">
                <div class="custom-file">
                  <input type="file" class="form-control custom-file-input" name ="ordonnance" id="ordonnance">
                  <label class="custom-file-label" for="exampleInputFile">Choisir fichier</label>
                </div>
              </div>
            </div> 
            <div class="form-group row">
              <label style="margin-right: 102px;">Action :</label>
              <select class="form-control select2 select2-danger" name="actionMed" id="actionMed" data-dropdown-css-class="select2-danger" style=" width: 700px;">
                <option selected="selected">Consultation</option>
                <option value="Hospitalisation">Hospitalisation</option>
                <option value="Radiologie">Radiologie</option>
                <option value="Biologie">Biologie</option>
              </select>
            </div>      
          </div>
          <div class="card-footer">
            <div class="hospitalisation_form" style="display: none;">
              <div class="form-group row services">
                <label style="margin-right: 102px;">Service :</label>
                <select class="form-control select2 select2-danger" name="service1" id="service1" data-dropdown-css-class="select2-danger" style=" width: 700px;">
                  <option selected="selected">medecine</option>
                  <option value="chirurgie">chirurgie</option>
                  <option value="pediaterie">pediaterie</option>
                  <option value="maternite">maternite</option>
                </select>
              </div>   
              <div class="form-group row">
                <label style="margin-right: 76px;">Date de sortie:</label>
                <div class="input-group date" id="reservationdate" style="width: 700px;" data-target-input="nearest">
                  <input type="date" id="date_sortie" name="date_sortie" class="form-control" required/>
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputFile" style="margin-right: 118px;">Facture :</label>
                <div class="input-group" style="width: 700px;">
                  <div class="custom-file">
                    <input type="file" id="facture_hosp" class="form-control custom-file-input" name="facture_hosp">
                    <label class="custom-file-label" for="exampleInputFile">Choisir fichier</label>
                  </div>
                </div>
              </div> 
              <div class="form-group row">
                <label for="exampleInputFile" style="margin-right: 10px;">Billet d'hospitalisation :</label>
                <div class="input-group" style="width: 700px;">
                  <div class="custom-file">
                    <input type="file" id="billet_hospitalisation" class="form-control custom-file-input" name="billet_hospitalisation">
                    <label class="custom-file-label" for="exampleInputFile">Choisir fichier</label>
                  </div>
                </div>
              </div> 
            </div>

            <div class="form-group row servicesC">
              <label style="margin-right: 102px;">Service :</label>
              <select class="form-control select2 select2-danger" name="service" id="service" data-dropdown-css-class="select2-danger" style=" width: 700px;">
                <option selected="selected">Medecine</option>
                <option value="chirurgie">Chirurgie</option>
                <option value="pediaterie">Pediaterie</option>
                <option value="maternite">Maternite</option>
                <option value="centreDC">CentreDC</option>
              </select>
            </div>  

            <div class="radiologie_form" style="display: none;">
              <div class="form-group row">
                <label for="exampleInputFile" style="margin-right: 118px;">Facture :</label>
                <div class="input-group" style="width: 700px;">
                  <div class="custom-file">
                    <input type="file" class="form-control custom-file-input" name="facture_radio" id="facture_radio">
                    <label class="custom-file-label" for="exampleInputFile">Choisir fichier</label>
                  </div>
                </div>
              </div> 
              <div class="form-group row">
                <label for="exampleInputFile" style="margin-right: 48px;">Bon de radiologie :</label>
                <div class="input-group" style="width: 700px;">
                  <div class="custom-file">
                    <input type="file" class="form-control custom-file-input" id="bon_radio" name="bon_radio">
                    <label class="custom-file-label" for="exampleInputFile">Choisir fichier</label>
                  </div>
                </div>
              </div> 
            </div>

            <div class="biologie_form" style="display: none;">
              <div class="form-group row">
                <label for="exampleInputFile" style="margin-right: 118px;">Facture :</label>
                <div class="input-group" style="width: 700px;">
                  <div class="custom-file">
                    <input type="file" class="form-control custom-file-input" name="facture_bio" id="facture_bio">
                    <label class="custom-file-label" for="exampleInputFile">Choisir fichier</label>
                  </div>
                </div>
              </div> 
              <div class="form-group row">
                <label for="exampleInputFile" style="margin-right: 60px;">Bon de biologie :</label>
                <div class="input-group" style="width: 700px;">
                  <div class="custom-file">
                    <input type="file" class="form-control custom-file-input" id="bon_bio" name="bon_bio">
                    <label class="custom-file-label" for="exampleInputFile">Choisir fichier</label>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
        
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-info float-right">Soumettre</button>
        </div>
        <!-- /.card-footer -->
    </form>
    </div>
</div>
</div>

{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(function () {
    bsCustomFileInput.init();
  });
  </script>

<script>
function toggleForms() {
  var selectedOption = document.getElementById('actionMed').value;
  var hospitalisationForm = document.getElementsByClassName('hospitalisation_form')[0];
  var radiologieForm = document.getElementsByClassName('radiologie_form')[0];
  var biologieForm = document.getElementsByClassName('biologie_form')[0];
  var ConsultationForm = document.getElementsByClassName('servicesC')[0];

  if (selectedOption === 'Hospitalisation') {
    hospitalisationForm.style.display = 'block';
    radiologieForm.style.display = 'none';
    biologieForm.style.display = 'none';
    ConsultationForm.style.display = 'none';
  } else if (selectedOption === 'Radiologie') {
    hospitalisationForm.style.display = 'none';
    radiologieForm.style.display = 'block';
    biologieForm.style.display = 'none';
    ConsultationForm.style.display = 'none';
  } else if (selectedOption === 'Biologie') {
    hospitalisationForm.style.display = 'none';
    radiologieForm.style.display = 'none';
    biologieForm.style.display = 'block';
    ConsultationForm.style.display = 'none';
  } else {
    hospitalisationForm.style.display = 'none';
    radiologieForm.style.display = 'none';
    biologieForm.style.display = 'none';
    ConsultationForm.style.display = 'block';
  }
}

document.getElementById('actionMed').addEventListener('change', toggleForms);

  function fetchCIN(ipp) {
  $.ajax({
    url: '/get_cin/',  
    data: {
      'ipp': ipp  
    },
    success: function(response) {
      $('#cin_assurant').val(response.cin);
    }
  });
}

// Écouteur d'événement sur le champ de saisie IPP
$('#ipp').on('change', function() {
  var ipp = $(this).val();
  fetchCIN(ipp);
});

</script>
<script>
  // Récupérer la date actuelle au format YYYY-MM-DD
  var currentDate = new Date().toISOString().split('T')[0];

  // Définir la valeur par défaut du champ de date sur la date actuelle
  document.getElementById('date_sortie').value = currentDate;
</script>
{% endblock %}
