{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'home' %}" class="brand-link">
    <img src="{% static 'img/EasyDocLogo.png' %}" alt="EasyDoc Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">EasyDoc</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'img/user.png' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{role}}</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fass fa-xmark"></i>
            <p>
              Gestion des actions
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'saa' %}" class="nav-link ">
                <i class="fa-solid fa-plus nav-icon"></i>
                <p>Ajouter une action</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'liste_hospitalisations' %}" class="nav-link">
                <i class="fa-sharp fa-solid fa-eye nav-icon" style="color: #ccd3e1;"></i>
                <p>Liste des hopitalisations</p>
              </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'liste_consultations' %}" class="nav-link">
                  <i class="fa-sharp fa-solid fa-eye nav-icon" style="color: #ccd3e1;"></i>
                  <p>Liste des consultations</p>
                </a>
            </li>
            </li>
            <li class="nav-item">
                <a href="{% url 'liste_radiologies' %}" class="nav-link">
                  <i class="fa-sharp fa-solid fa-eye nav-icon" style="color: #ccd3e1;"></i>
                  <p>Liste des radiologies</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'liste_biologies' %}" class="nav-link">
                  <i class="fa-sharp fa-solid fa-eye nav-icon" style="color: #ccd3e1;"></i>
                  <p>Liste des biologies</p>
                </a>
            </li>
          </ul>
        </li>

        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fass fa-xmark"></i>
            <p>
              Comptes patients
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'saa2' %}" class="nav-link">
                <i class="fa-solid fa-plus nav-icon"></i>
                <p>Ajouter nouveau dossier</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'liste_dossiers' %}" class="nav-link">
                <i class="fa-sharp fa-solid fa-eye nav-icon" style="color: #ccd3e1;"></i>
                <p>Liste des dossiers</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
    <div class="nav-link fixed-bottom" style="margin-left: 113px;">
      <a href="{% url 'logout' %}" class="btn btn-info">Déconnexion</a>
    </div>
  </div>

  <!-- /.sidebar -->
</aside>
